.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #5E1B82;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem .25rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
